* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat';
}
.css-1t018ql-MuiToolbar-root {
	min-height: 130px;
	background: #ffffff;
}

.css-18gxrea-MuiAvatar-root {
	background-color: transparent;
}
